<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oxygencylindertracker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/ic_appicon"
        android:theme="@style/AppTheme">
        <activity android:name=".qrcode.QRScannerActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".qrcode.QRGeneratorActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".transactions.EntryTransactionActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".transactions.FormActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".auth.SignInActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>